body {
	font-family: Poppins, sans-serif;
	font-weight: 400;
}

h1,h2,h3,h4,h5,h6 {
	color: #182434;
	font-family: Poppins, sans-serif;
	font-weight: 700;
}

img {
	max-width: 100%;
	height: auto;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.site-branding {
	padding: 30px 0;
	text-align: center;
}

.note-textbox {
	resize: none;
	height: 100px;
}



/* Date picker style */
.ui-widget.ui-widget-content {
	width: 100%;
	max-width: 270px;
}

#ui-datepicker-div {
	font-family: Poppins, sans-serif;
	font-weight: 400;
	font-size: 0.9rem;
	border: 0;
	border-top: 0 !important;
	border-radius: 0;
}

.ui-datepicker-header {
	padding: 8px 15px;
}

.ui-datepicker-header,
.ui-widget-header a {
	font-weight: 400;
	border: 0;
	border-radius: 0;
	background-color: #0272e4;
	color: #fff;
}

.ui-widget-header a:hover {
	cursor: pointer;
	background-color: #0272e4;
	border: 0;
	font-weight: 400;
}

.ui-datepicker-prev {
	margin-right: 10px;
}

.ui-datepicker-title {
	font-size: 1.2rem;
	margin-top: 10px;
}

.ui-datepicker-calendar {
	border-top: 15px solid #fff;
	border-left: 15px solid #fff;
	border-right: 15px solid #fff;
}

.ui-datepicker-calendar {
	font-family: Roboto, sans-serif;
	font-size: 1.1rem;
}

.ui-state-default, .ui-widget-content .ui-state-default {
	border: 0;
	padding: 2px 5px;
}

.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
	border: 0;
	background-color: transparent;
}

.ui-state-active,
.ui-widget-content .ui-state-active{
	background-color: #0272e4;
	color: #fff;
}
/* End of date picker style */

.admin-plugin-title{
	font-size: 30px;
}

.form-section {
	border-radius: 10px;
	padding: 60px;
	background-color: #ffffff;
}

.bg-lightblue {
	background-color: #e7f3ff;
}

.b2 {
	border: 2px solid #d6e6f7;
}

.input-wrapper {
	position: relative;
}

.half {
	width: calc(50% - 10px);
}

.input-wrapper input,
.input-wrapper textarea,
.input-wrapper select {
	position: relative;
	font-weight: 500;
	min-height: 40px;
	padding: 0 20px;
	border: 1px solid #c3d6ea;
	border-radius: 6px;
	color: #494949;
	font-size: 0.9rem;
}

.input-wrapper select {
	background-color: #fff;
	min-height: unset !important;
	padding-top: 9px;
	padding-bottom: 9px;
}

.input-wrapper input::placeholder,
.input-wrapper textarea::placeholder,
.input-wrapper select::placeholder {
	color: #494949;
	opacity: 1;
}

.input-wrapper textarea {
	padding-top: 10px;
	padding-bottom: 10px;
}

.input-wrapper input#time {
	/*border: 0;*/
	min-height: 50px;
}

.input-wrapper .dateinput,
.input-wrapper input#time {
	padding-left: 40px !important;
}

.date-cont::before {
	z-index: 1;
	content: '';
	display: block;
	width: 18px;
	height: 18px;
	position: absolute;
	top: 19px;
	left: 15px;
	transform: translate(0,-50%);
	background-image: url(../images/date.svg);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

.time-cont::before {
	z-index: 1;
	content: '';
	display: block;
	width: 18px;
	height: 18px;
	position: absolute;
	top: 25px;
	left: 15px;
	transform: translate(0,-50%);
	background-image: url(../images/time.svg);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

.form-section-title {
	font-family: 'Poppins', sans-serif;
	font-weight: 700 !important;
	font-size: 30px !important;
	margin-top: 0;
}

.ampm-wrapper span {
	padding: 0 15px;
	color: #b4c9de;
	font-weight: 700;
	font-size: 1.5rem;
}

.timeslot {
	-webkit-box-shadow: 0px 0px 4px 0px rgba(87,87,87,0.05);
	-moz-box-shadow: 0px 0px 4px 0px rgba(87,87,87,0.05);
	box-shadow: 0px 0px 4px 0px rgba(87,87,87,0.05);
	width: calc(50% - 10px);
	margin-right: 20px;
	margin-bottom: 20px;
	cursor: pointer;
	background-color: #fff;
	color: #0272e4;
	font-size: 1rem;
	font-weight: 500;
	min-height: 40px;
	border: 1px solid #c3d6ea;
	border-radius: 6px;
	padding: 0 15px;
	line-height: 40px;
	text-align: center;
	transition: all 0.2s ease-in-out;
}

.timeslot.selected,
.timeslot:hover {
	background-color: #0272e4;
	color: #fff;
}

.timeslot:nth-child(2n+2),
.timeslot:last-child {
	margin-right: 0;
}

#time_selector {
	position: absolute;
	background-color: #fff;
	padding: 10px;
}

.timeselect {
	cursor: pointer;
	text-align: center;
	width: 25%;
	font-size: 0.7rem;
	font-weight: 600;
	padding: 5px;
}

.timeselect:hover {
	color: #fff;
	background-color: #0272e4;
}

.time-disclaimer {
	font-weight: 600;
	font-size: 0.6rem;
	color: #182434;
}

#form_submit {
	font-weight: 600;
	font-size: 1.4rem;
	border: 0;
	margin: 1rem auto;
	background-color: #0080f9;
	color: #fff;
	border-radius: 6px;
	padding: 15px;
	min-width: 300px;
}

label.error {
	font-size: 0.75rem;
	color: #f00;
}

#toggle_terms {
	color: #0080f9;
	cursor: pointer;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.v-box {
	display: none;
    position: fixed;
    z-index: 10000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #00000075;
}

.loader {
    position: fixed;
    z-index: 999;
    overflow: visible;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border: 16px solid #f3f3f3;
    border-top-color: #f3f3f3;
    border-top-style: solid;
    border-top-width: 16px;
    border-bottom-color: #f3f3f3;
    border-bottom-style: solid;
    border-bottom-width: 16px;
    border-radius: 50%;
    border-top: 16px solid #0080f9;
    border-bottom: 16px solid #0080f9;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

.address-details input {
	margin-right: 10px;
	margin-bottom: 5px;
}

.address-details input:nth-child(2n+2) {
	margin-right: 0;
}

@media only screen and (max-width: 767px) {
	.ui-state-default,
	.ui-widget-content .ui-state-default {
		font-size: 14px;
	}
}

@media only screen and (min-width: 768px) {
	.date-cont::before {
		width: 27px;
		height: 27px;
		left: 20px;
		top: 25px;
	}
	.time-cont::before {
		width: 27px;
		height: 27px;
		left: 20px;
		top: 30px;
	}
	.form-section {
		border-radius: 10px;
		/*padding: 60px;*/
	}
	.form-section-title {
		font-size: 30px !important;
	}
	.time-disclaimer {
		font-size: 0.8rem;
	}
	.input-wrapper input,
	.input-wrapper textarea,
	.input-wrapper select {
		min-height: 50px;
		font-size: 1.2rem;
	}
	.input-wrapper .dateinput,
	.input-wrapper input#time {
		padding-left: 60px !important;
	}
	.input-wrapper input#time {
		min-height: 60px;
	}
	.ampm-wrapper span {
		font-size: 2.5rem;
	}
	.timeslot {
		font-size: 1.3rem;
		min-height: 50px;
		line-height: 50px;
	}
	.ui-widget.ui-widget-content {
		max-width: 450px;
	}
	.timeselect {
		width: 20%;
		font-size: 0.9rem;
	}

	.address-details > div {
		display: flex;
	}
}

@media only screen and (min-width: 768px){
	.two-column-input > div{
		width: calc((100% - 10px)/2);
	}

	.two-column-input > div:first-child {
		margin-right: 10px;
	}
}

.business-identity-container{
	text-align: center;
}

.business-identity-container img{
	max-width: 350px;
	margin-top: 25px;
}

.business-identity-container h1{
	font-size: 50px;
    margin-top: 25px;
}